<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" data-locale="ko_KR">
<head th:replace="~{common/header :: head}"></head>
<div th:replace="~{common/header :: header}"></div>
<body>
<!-- 히어로 섹션 -->
<header class="hero-section">
  <div class="container text-center">
    <!-- 필요 시 여기에 콘텐츠 추가 -->
  </div>
</header>

<section class="container my-5 py-5">
  <h2 class="text-center mb-5"></h2>
  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <h4>로그인</h4>
      <p>설명1</p>
    </div>
    <div class="col-md-4 mb-4">
      <h4>공지사항</h4>
      <p>설명1</p>
    </div>
    <div class="col-md-4 mb-4">
      <h4>게시판</h4>
      <p>설명</p>
    </div>
  </div>
</section>

<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>
