<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header :: head}"></head>
<body>
<div th:replace="~{common/header :: header}"></div>

<div class="container mt-5">
  <h2>내 정보</h2>
  <form th:action="@{/mypage/update}" method="post">
    <input type="hidden" name="id" th:value="${user.id}" />

    <div class="mb-3">
      <label>이메일</label>
      <input type="email" class="form-control" th:value="${user.email}" readonly />
    </div>

    <div class="mb-3">
      <label>이름</label>
      <input type="text" class="form-control" name="name" th:value="${user.name}" required />
    </div>

    <div class="mb-3">
      <label>전화번호</label>
      <input type="text" class="form-control" name="phoneNumber" th:value="${user.phoneNumber}" />
    </div>
    <div class="mb-3" hidden="hidden">
      <label>권한</label>
      <select class="form-control" name="role">
        <option value="USER" th:selected="${user.role == 'USER'}">USER</option>
        <option value="ADMIN" th:selected="${user.role == 'ADMIN'}">ADMIN</option>
      </select>
    </div>
    <div class="mb-3">
      <a href="/mypage/password" type="submit" class="btn btn-primary">비밀번호 수정</a>
    </div>
    <div class="d-flex justify-content-end gap-2">
      <button type="submit" class="btn btn-primary">정보 수정</button>
    </div>
  </form>
</div>

<div th:replace="~{common/footer :: footer}"></div>
</body>
</html>
